@model HomeManagementSystem.Data.Entites.Assignment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>
           @*<div class="form-group">
                <label asp-for="CompletedTask" class="control-label"></label>
                <input asp-for="CompletedTask" class="form-control" />
                <span asp-validation-for="CompletedTask" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfCompletion" class="control-label"></label>
                <input asp-for="DateOfCompletion" class="form-control" />
                <span asp-validation-for="DateOfCompletion" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CategoryOfAssignment" class="control-label"></label>
                <select asp-for="CategoryOfAssignment" class="form-control" asp-items="Html.GetEnumSelectList<Category>()"></select>
                <span asp-validation-for="CategoryOfAssignment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.Locations"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
